body {
    font-family:Times,serif;
    font-size: 90%;
    line-height: 1.5em;
    max-width: 960px;
    min-width: 800px;
    margin:3% auto;
}
.author {
    display:inline;
}
.title {
    font-size:2em;
    line-height:2em;
    margin:0;
    padding:0;
    text-align:center;
}
.todo {
    color:red;
}
.done {
    color:green;
}
.WAITING  {
}
.timestamp {
    color:grey;
}
.timestamp-kwd {
    color:CadetBlue;
}
.timestamp-wrapper {
}
.tag {
    background-color:lightblue;
    font-weight:normal;
}
._HOME {
}
.target {
    background-color:lavender;
}
.linenr {
}
.code-highlighted {
}
h2 {
    background-color:#AEC5CE;
    font-size:1.5em;
    margin:10px 0;
    padding:0 2px;
}
h3 {
    border-bottom:1px solid #9AB7C2;
    font-size:1.2em;
    margin:5px 0;
}
h4 {
    font-size:1em;
    margin:5px 0;
}
p {
    margin:8px 0 0 1em;
    text-indent: 2em;
}
#postamble {
    border:1px solid gray;
    color:gray;
    font-size:13px;
    font-style:italic;
    line-height:1em;
    margin-top:2em;
    padding-bottom:5px;
}
.footnote {
    text-indent: 0;
    line-height: 1em;
}
